<div class="container mt-5">
  <button class="btn btn-primary" routerLink="/books">Books 📚</button>

  <button class="btn btn-primary ms-3" (click)="changeUserName('BENOIT')">
    Changer le nom de l'utilisateur
  </button>

  <ul>
    <li>username : {{ (user$ | async)?.firstname }}</li>
    <li>admin : {{ (user$ | async)?.isAdmin }}</li>
  </ul>

  <button class="btn btn-primary" (click)="loadUsers()">Load users</button>

  <ng-container>
    {{ (userError$ | async)?.body?.error }}
    <p>toto</p>
  </ng-container>

  <ul>
    <li *ngFor="let user of userList$ | async">
      {{ user.firstname }} {{ user.name }}
    </li>
  </ul>
</div>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
